* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button[data-start], button[data-stop], button[data-submit]{
  width: 100px;
  height: 35px;

  background-color: lightblue;
  border-radius: 4px;
  border-color: teal;
  color: teal;
  font-size: 14px;
  
  transition: background-color 250ms linear;
}
button{
  min-width: 150px;
}
button[data-start], button[data-submit]{
  margin-left: 10px;
}

button[data-start]:hover,
button[data-stop]:hover,
button[data-submit]:hover{
  background-color: white;
}

button[data-start]:disabled,
button[data-stop]:disabled{
  background-color: rgb(188, 214, 223);
}

.timer{
  display: flex;
  gap: 20px;
  
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px;
  max-width: 310px;

  background-color: lightblue;
  color: teal;
}

.field{
  display: flex;
  flex-direction: column;
}

.value{
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.label{
  text-transform: uppercase;
}